.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: greenyellow;
    position: sticky;
    top: 20px;
  }
  
  .sidebarWrapper {
    padding: 20px;
    color: black;
  }
  
  .sidebarMenu {
    margin-bottom: 10px;
  }
  
  .sidebarTitle {
    font-size: 15px;
    color: blue;
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  
  .sidebarListItem {
    padding: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 30px;
  }
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: skyblue;
  }
  
  .sidebarIcon{
      margin-right: 5px;
      font-size: 20px !important;
  }